# Ігнорувати файли з розширенням .log
*.log

# Ігнорувати файли у каталозі temp
/temp/

# Ігнорувати файли, що мають суфікс _temp у назві
*_temp

# Ігнорувати файли з розширенням .tmp
*.tmp

# Ігнорувати каталог node_modules
node_modules/

# Ігнорувати файли з розширенням .bak
*.bak

# Ігнорувати файли, що починаються з test_
test_*

# Ігнорувати файли з розширенням .swp
*.swp

# Ігнорувати файли, що починаються з .tmp_
.tmp_*

# Ігнорувати файли в кореневій директорії з розширенням .ignore
/*.ignore
